{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Clinic System</title>

    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Extra CSS -->
    {% block extra_css %}
    {% endblock %}
</head>

<body>

    <!-- HEADER -->
    <header>

        <!-- Left Side -->
        <div class="page-info">
            <a href="{% url 'blog:index' %}" class="nav-btn">
                Home
            </a>
        </div>

        <!-- Center -->
        <div class="logo">
            <h2>Clinic System</h2>
        </div>

        <!-- Right Side Navigation -->
        <nav class="navbar">

            <a href="{% url 'blog:add_patients' %}" class="nav-btn">
                Add Patient
            </a>

            <a href="{% url 'blog:patients_list' %}" class="nav-btn">
                View Patients
            </a>

            <a href="{% url 'blog:medicine_list' %}" class="nav-btn">
                Inventory
            </a>

            <a href="{% url 'blog:contact' %}" class="nav-btn">
                Contact
            </a>

        </nav>

    </header>

    <!-- PAGE CONTENT -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>