{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Clinic</title>

    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- Page-specific CSS -->
    {% block extra_css %}
    {% endblock %}
</head>
<body>

    <style>
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 5%; 
        }
    
        h2 {
            margin: 0; 
            }
    </style>

    <header>
        <p>
            {{page_name | lower | default:"No page name"}}
        </p>
        <h2>Clinic System</h2>
        <a href="{% url 'blog:contact' %}" class="btn">Contact us</a>
    </header>

    {% block content %}
    {% endblock %}
<!--
    <footer>
    
        <a href="{% url 'blog:contact' %}" class="btn">Contact us</a>
        <p>
            {{page_name | lower | default:"No page name"}}
        </p>
    
    </footer>
-->
</body>
</html>